<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Banco de preguntas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    
</head>

<body>
    <main class="container pd-4">
        <h1 class="display-4 text-center title">
            Gestion banco de preguntas
        </h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col offset my-auto">
                <div class="card">
                    <div class="card-header">

                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{nav}}
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for row in entidades %}
                                    {% if row != nav %}
                                    <a class="dropdown-item" href="/nav/{{row}}">{{row}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <form action="/crear/{{nav}}" method="POST">
                            <div class="form-row">
                                {% for campo in campos[1:] %}
                                    <div class="col">
                                        {% if campo['name'] not in fk %}
                                            <input type="text" class="form-control" name="{{campo['name']}}"
                                                value="{{campo['name']}}">
                                        {% else %}
                                            <select class="browser-default custom-select" name="{{campo['name']}}">
                                                <option disabled selected>{{campo['name']}}</option>
                                                {% for val in fk[campo['name']] %}
                                                    <option value="{{val[0]}}">{{val[1]}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        crear
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        {% for row in registros %}
                        <form action="/editar/{{nav}}/{{row[0]}}" method="POST">
                            <div class="form-row">
                                {% for i in range(1, row|length) %}
                                    <div class="col">
                                        {% if campos[i]['name'] not in fk %}
                                            <input type="text" class="form-control" name="{{row[0]}}{{campos[i]['name']}}" value="{{row[i]}}">
                                        {% else %}
                                            <select class="browser-default custom-select" name="{{row[0]}}{{campos[i]['name']}}">
                                                {% for val in fk[campos[i]['name']] %}
                                                    {% if val[0] == row[i] %}
                                                        <option value="{{val[0]}}" selected>{{val[1]}}</option>
                                                    {% else %}
                                                        <option value="{{val[0]}}">{{val[1]}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-success btn-sm">
                                    editar
                                </button>
                                <a href="/borrar/{{nav}}/{{row[0]}}" class="btn btn-danger btn-sm">
                                    borrar
                                </a>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>